img {
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  margin: auto;

  width: 250px;
  transform: rotate(-45deg);
  animation-name: flying;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 3s;
}

@keyframes flying {
  0% {
    transform: translate(0, 20px);
    transform: rotate(10deg);
  }

  50% {
    transform: scale(0.9, 0.9);
    transform: rotate(15deg);
  }

  100% {
    transform: translate(0, -20px);
    transform: rotate(10deg);
  }
}
